.table-numbers{
    max-width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.row-bingo {
    background-color: var(--red-100);
}

.table-table-numbers{
    border: 3px dashed var(--black-);
    margin: 0 auto;
}

.cell-table-numbers,
.row-bingo{
    border: 3px solid var(--black-);
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}